* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(27, 16, 42, 0.6);
}

::-webkit-scrollbar-thumb {
  background: #4E2A84;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7F5AA2;
}
